body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 15px;
    width: 80%; /* Reduzi o tamanho para 80% da largura da tela */
    max-width: 400px; /* Limita a largura máxima para garantir que não fique muito grande */
    background-color: #f8f8f8; /* Adicionei uma cor de fundo para destacar o contêiner */
}

fieldset {
    border: 1px solid black;
    border-radius: 8px;
    margin: 0;
    padding: 20px; /* Aumentei o preenchimento interno para separar os elementos */
}

legend {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px; /* Adicionei uma margem inferior para separar do conteúdo */
}

.inputBox {
    position: relative;
    margin-bottom: 20px; /* Adicionei uma margem inferior para separar os campos */
}

.inputUser, #data_nascimento {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 16px); /* Adicionei uma margem para compensar o preenchimento interno */
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    background-color: #ffffff; /* Adicionei uma cor de fundo para os campos de entrada */
}

.labelInput {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    left: 12px; /* Ajustei a posição do rótulo para um alinhamento mais coerente */
    pointer-events: none;
    transition: .5s;
    font-size: 15px;
    color: #666;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: 0;
    font-size: 12px;
    color: black;
}

#submit {
    background-color: rgb(68, 142, 216);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-color: deepskyblue;
}

.voltar{
    background-color: rgb(68, 142, 216);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.voltar:hover {
    background-color: deepskyblue;
}

.password-instructions {
    color: black; /* Cor padrão */
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remova o preenchimento padrão da lista */
    margin-top: 5px; /* Reduzi o espaçamento entre os requisitos */
    margin-bottom: 5px; /* Reduzi o espaçamento entre os requisitos */
    font-size: 5px;
}

/* Estilo para requisitos atendidos */
.requisitos-atendidos {
    color: green; /* Defina a cor desejada para os requisitos atendidos */
}

@media screen and (max-width: 600px) {
    .box {
        width: 90%; /* Reduz ainda mais para telas menores */
    }
}
