
        body{
            font-family: Arial, Helvetica, sans-serif;
            
            
        }
        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 30px;
            border-radius: 15px;
            color: black;
        }
        input{
            padding: 15px;
            font-size: 15px;
            width: 90%;
        }

        a{
            width: 90%;
        }
        .inputSubmit{
            background-color: rgb(68, 142, 216);
            border: none;
            padding: 15px;
            width: 100%;
            border-radius: 8px;
            color: white;
            font-size: 15px;
        }
        .inputSubmit:hover{
            background-color: deepskyblue;
            cursor: pointer;
        }

        .registro{
            background-color: rgb(68, 142, 216);
            border: none;
            padding: 15px;
            padding-left: 23px;
            margin-top: 6px;
            border-radius: 8px;
            color: white;
            font-size: 15px;
            text-align: center; /* Centraliza o texto */
            display: inline-block; /* Para garantir que o link seja exibido como bloco */
            text-decoration: none; /* Remove sublinhado padrão dos links */
            
        }
        .registro:hover{
            background-color: deepskyblue;
            cursor: pointer;
        }



       

        